.ques-container {
	/* background-color: #0f0f0f; */
	background-image: url('../../assets/event-bg.jpg');
	position: relative;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 6rem;
	box-sizing: border-box;
}
.ques-container h2 {
	font-size: 1.5rem;
}
.text-box {
	position: relative;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	width: 100%;
}
.text-input {
	background-color: #000a;
	border: 2px solid #666;
	width: 80%;
	font-size: 1.5rem;
	outline: none;
	padding-left: 20px;
}
.btn {
	font-size: 1.5rem;
	width: 20%;
	aspect-ratio: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0;
}
